body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.page {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media print {
    @page {
        margin: 0;
        size: auto;
    }

    body * {
        visibility: hidden;
    }

    .page * {
        visibility: visible;
    }

    .page {
        position: absolute;
        left: 0;
        top: 0;
    }
}